* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Montserrat", sans-serif;
  margin-top: 150px;
}
.small_container {
  display: flex;
  height: 691px;
  width: 1280px;
  margin: 0 auto;
  background-color: #fdde7e;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.box {
  width: 360px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.bronze {
  display: block;
  background: #fff;
  padding: 30px 0;
  margin: 0 30px;
}
.gold {
  display: block;
  background: #fff;
  padding: 50px 0;
  margin: 0 30px;
}
.silver {
  display: block;
  background: #fff;
  padding: 30px 0;
  margin: 0 30px;
}
.bronze .dol2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.gold .dol3 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.silver .dol25 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.bronze h2 {
  margin-top: 40px;
  font-size: 51px;
  line-height: 65px;
}
.gold h2 {
  margin-top: 20px;
  font-size: 51px;
  line-height: 65px;
}
.silver h2 {
  margin-top: 40px;
  font-size: 51px;
  line-height: 65px;
}
.bronze p {
  font-size: 20px;
  line-height: 24px;
}
.gold p {
  font-size: 20px;
  line-height: 24px;
}
.silver p {
  font-size: 20px;
  line-height: 24px;
}
